@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Couleurs neutres / de base */
  --color-white: #fff;
  --color-black: #000;

  /* Cerulean */
  --color-cerulean: #437c90;
  --color-cerulean-100: #0d181c;
  --color-cerulean-200: #1b3139;
  --color-cerulean-300: #284955;
  --color-cerulean-400: #366272;
  --color-cerulean-500: #437c90;
  --color-cerulean-600: #5b9bb2;
  --color-cerulean-700: #84b4c5;
  --color-cerulean-800: #adcdd8;
  --color-cerulean-900: #d6e6ec;

  /* Dark Slate Gray */
  --color-dark-slate-gray: #255957;
  --color-dark-slate-gray-100: #081212;
  --color-dark-slate-gray-200: #0f2423;
  --color-dark-slate-gray-300: #173635;
  --color-dark-slate-gray-400: #1e4847;
  --color-dark-slate-gray-500: #255957;
  --color-dark-slate-gray-600: #3c908d;
  --color-dark-slate-gray-700: #5dbbb8;
  --color-dark-slate-gray-800: #93d2d0;
  --color-dark-slate-gray-900: #c9e8e7;

  /* Eggshell */
  --color-eggshell: #eeebd3;
  --color-eggshell-100: #413c19;
  --color-eggshell-200: #817832;
  --color-eggshell-300: #bcaf52;
  --color-eggshell-400: #d5cd92;
  --color-eggshell-500: #eeebd3;
  --color-eggshell-600: #f1efdc;
  --color-eggshell-700: #f5f3e5;
  --color-eggshell-800: #f8f7ed;
  --color-eggshell-900: #fcfbf6;

  /* Dark Goldenrod */
  --color-dark-goldenrod: #a98743;
  --color-dark-goldenrod-100: #221b0d;
  --color-dark-goldenrod-200: #43361b;
  --color-dark-goldenrod-300: #655028;
  --color-dark-goldenrod-400: #866b35;
  --color-dark-goldenrod-500: #a98743;
  --color-dark-goldenrod-600: #c0a161;
  --color-dark-goldenrod-700: #d0b889;
  --color-dark-goldenrod-800: #e0d0b0;
  --color-dark-goldenrod-900: #efe7d8;

  /* Saffron */
  --color-saffron: #f7c548;
  --color-saffron-100: #3e2d03;
  --color-saffron-200: #7b5a05;
  --color-saffron-300: #b98708;
  --color-saffron-400: #f5b30c;
  --color-saffron-500: #f7c548;
  --color-saffron-600: #f9d26e;
  --color-saffron-700: #fadd92;
  --color-saffron-800: #fce8b7;
  --color-saffron-900: #fdf4db;
}

:root {
  /* Couleurs principales */
  /* --background: var(--color-saffron-600); ok */
  --background: var(--color-saffron-800); /* ok */
  --foreground: var(--color-dark-slate-gray-100); /* ok */
  --foreground-secondary: var(--color-dark-slate-gray-100);
  --foreground-button: var(--color-eggshell-500);
  --foreground-panel: var(--color-cerulean-400);

  --card: var(--color-dark-goldenrod-500); /* ok */
  --card-hover: var(--color-dark-goldenrod-800); /* ok */
  --card-foreground: var(--color-dark-goldenrod-400); /* ok */

  --popover: var(--color-eggshell-800); /* ok */
  --popover-foreground: var(--color-dark-slate-gray-500); /* ok */

  --primary: var(--color-eggshell-800);
  --primary-foreground: var(--color-cerulean-400);
  --secondary: var(--color-saffron-500);
  --secondary-foreground: var(--color-dark-slate-gray-500);
  --muted: var(--color-saffron); /* ok */
  --muted-foreground: var(--color-dark-slate-gray);
  --accent: var(--color-dark-goldenrod-800); /* ok */
  --accent-foreground: var(--color-dark-slate-gray-500);
  --destructive: var(--color-red-400); /* ok */
  --destructive-foreground: var(--color-white); /* ok */

  --border: var(--color-dark-slate-gray-500);
  --input: var(--color-dark-slate-gray-500);
  --ring: var(--color-dark-goldenrod-400);

  --chart-1: var(--color-saffron-300);
  --chart-2: var(--color-cerulean-300);
  --chart-3: var(--color-dark-slate-gray-300);
  --chart-4: var(--color-dark-goldenrod-400);
  --chart-5: var(--color-saffron-400);

  --radius: 0.4rem;

  --sidebar: var(--color-cerulean-400);
  --sidebar-foreground: var(--color-eggshell-900);
  --sidebar-primary: var(--color-dark-goldenrod-400);
  --sidebar-primary-foreground: var(--color-dark-slate-gray-500);
  --sidebar-accent: var(--color-saffron-700); /* ok */
  --sidebar-accent-foreground: var(--color-dark-slate-gray-300); /* ok */
  --sidebar-border: var(--color-cerulean-200);
  --sidebar-ring: var(--color-dark-goldenrod-400);

  --cursor-pen-tool: url('/cursors/pen-tool.svg'), auto;
  --cursor-highlighter: url('/cursors/highlighter.svg') 2 21, auto;
}

.dark {
  --background: var(--color-dark-slate-gray-500);
  --foreground: var(--color-dark-goldenrod-500);
  --foreground-secondary: var(--color-dark-goldenrod-400);
  --foreground-panel: var(--color-dark-goldenrod-500);
  --foreground-button: var(--color-dark-goldenrod-500);

  --card: var(--color-saffron-500);
  --card-foreground: var(--color-dark-slate-gray-500);

  --popover: var(--color-saffron-500);
  --popover-foreground: var(--color-dark-slate-gray-500);

  --primary: var(--color-dark-goldenrod-400);
  --primary-foreground: var(--color-dark-slate-gray-500);

  --secondary: var(--color-saffron-500);
  --secondary-foreground: var(--color-dark-slate-gray-500);

  --muted: var(--color-dark-slate-gray-500);
  --muted-foreground: var(--color-dark-goldenrod-500);

  --accent: var(--color-dark-goldenrod-400);
  --accent-foreground: var(--color-dark-slate-gray-500);

  --destructive: var(--color-saffron-500);
  --destructive-foreground: var(--color-dark-slate-gray-500);

  --border: var(--color-dark-slate-gray-500);
  --input: var(--color-dark-slate-gray-500);
  --ring: var(--color-dark-goldenrod-400);
}

/* Tailwind theme bindings */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
  .text-secondary {
    @apply text-[var(--foreground-secondary)];
  }
}

@layer components {
  .soft-button {
    @apply flex cursor-pointer items-center justify-center gap-2 space-x-2 rounded-lg border border-[var(--border)] bg-[var(--primary)] p-2 font-semibold text-[var(--primary-foreground)] transition-colors duration-300 hover:border-[var(--primary)] hover:bg-[var(--card-hover)] hover:shadow-md focus:ring-2 focus:ring-[var(--primary)] focus:ring-offset-2 focus:outline-none;
  }
  .soft-button-danger {
    @apply flex cursor-pointer items-center justify-center gap-2 space-x-2 rounded-lg border border-[var(--border)] bg-[var(--primary-foreground)] p-2 font-semibold text-[var(--foreground-button)] transition-colors duration-300 hover:border-[var(--primary)] hover:bg-dark-slate-gray-600 hover:shadow-md focus:ring-2 focus:ring-[var(--primary)] focus:ring-offset-2 focus:outline-none;
  }
  .soft-button-disabled {
    @apply flex items-center justify-center gap-2 rounded-lg border border-[var(--foreground-button)] p-2 text-[var(--primary-foreground)] opacity-70 transition-colors duration-300 focus:ring-2 focus:ring-[var(--primary)] focus:ring-offset-2 focus:outline-none;

    /* Fond à rayures */
    background-image: repeating-linear-gradient(
      45deg,
      var(--primary),
      var(--primary) 10px,
      var(--foreground-button) 10px,
      var(--foreground-button) 20px
    );
  }

  .card-file {
    @apply h-60 max-w-[180px] cursor-pointer border-2 border-secondary bg-card-foreground transition duration-150 ease-linear hover:-translate-y-0.5 hover:border-primary hover:bg-card;
  }
}

@layer utilities {
  .cursor-pen-tool {
    cursor: var(--cursor-pen-tool);
  }
  .cursor-highlighter {
    cursor: var(--cursor-highlighter);
  }

  .panel {
    @apply m-1 flex p-1 text-[var(--foreground-panel)];
  }

  .no-select {
    user-select: none; /* Empêche la sélection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
  }
}

html,
body,
#root {
  @apply h-screen w-full overflow-hidden;
}

input,
textarea,
select {
  background-color: var(--primary);
  border: 1px solid var(--border);
  @apply px-3 py-2;
  border-radius: var(--radius);
  @apply text-[var(--foreground)] placeholder:text-[var(--muted-foreground)];
  &:focus {
    @apply ring-2 ring-[var(--muted)] outline-none;
  }
}
